// variables
$site-color : rgb(180, 5, 19);
// end of variables
// mixins
@mixin centerElement()
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin centerVertical()
{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);    
}
@mixin centerHorizontal() 
{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
@mixin sectionDefaultValues 
{
    // height: 85vh;
    width: 100%;
    position: relative;
    text-align: center;    
}
@mixin imageProperties
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    position: relative;
}
// end of mixins
// general styles
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    // width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

// Glide.js
figure
{
    display: block;
    margin: 1em;
    padding: .7em;
    
    figcaption
    {
        text-transform: uppercase;
    }
}

// change for responsiveness
.glider-contain
{
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.glider-next
{
    right: -50px;
    top: 50%;
}
.glider-prev
{
    left: -40px;
    top: 50%;
}

.fa
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}


h3
{
    font-weight: bolder;
    font-family: 'Odibee Sans', cursive;
}
nav
{
    z-index: 2;
}
.navbar-collapse.collapse.in 
{ 
    display: inline-block; 
}
small
{
    color: white;
    font-family: 'Oswald', sans-serif;
}
// end of general styles
// custom styles
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid black; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    

    :hover 
    {
      background-color: #555; /* Add a dark-grey background on hover */
    }
}

#modal-theme
{
    background: $site-color;
}

#site-logo
{
    height: 60px;
    width: 60px;
}

.bg-custom
{
    background-color: $site-color;
}
.btn-custom
{
    background-color: $site-color;
    color: white;

    :hover
    {
        background-color: white;
        border-color: $site-color;
    }
}

.navbar-center {
    @include centerHorizontal();
}
#nav-links
{
    color: white;
}

#banner
{
    background-image: url('../images/stock3.jpg');
    @include imageProperties();
    height: 89vh;
    .layer 
    {
        background-color: rgba(22, 19, 20, 0.6);
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    #rowrow
    {
        @include sectionDefaultValues();
        height: 89vh;
    }
    #banner-col
    {
        display: flex;
        align-items:center;
        justify-content:center;
    }
    #banner-title
    {
        color: white;

        font-family: 'Odibee Sans', cursive;
        font-size: 7vmax;
    }
    p 
    {
        color: white;
        font-size: 35%;
    }
    #butt-pos
    {
        color: white;
        position: absolute;
        top: 90%;
        left: 104%;
        transform: translate(-90%,-104%);
    }
}

#about
{
    @include sectionDefaultValues();
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23240104' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23480208' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236c030b' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2390040f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b40513' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    #about-txt
    {
        text-align: center;
        color: white;
    }
    #about-txt-cont
    {
        background-color: $site-color;
        padding: 15px;
    }
    #aboutdesc-txt
    {
        color: white;
        font-weight: bolder;
        font-family: 'Odibee Sans', cursive;
    }
    #desc-txt
    {
        color: white;
        font-size: 17.5px;
    }
}

#products
{
    @include sectionDefaultValues();
    background-color: white;
    padding-bottom: 0.8%;
    #products-txt-cont
    {
        background-color: $site-color;
        padding: 15px;
        z-index: 1;
    }
    #products-txt
    {
        color: white;
    }  
    #row
    {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #below-slider 
    {
        text-align: left;
        h3
        {
            
            color: $site-color;
        }

        h5
        {
            text-align: left;
        }
    }
}

#contactus
{
    @include sectionDefaultValues();
    row
    {
        height: 85vh;
    }
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23240104' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23480208' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236c030b' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2390040f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b40513' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    #contact-txt-cont
    {
        background-color: $site-color;
        padding: 15px;
    }
    #contact-txt
    {
        color: white;
    }
    #row
    {
        padding-top: 5.5%;
        padding-bottom: 6.5%; 
    }
    #contact-cont 
    {
        color: white;
        font-family: 'Odibee Sans', cursive;
    }
    hr 
    {
        background-color: white;
    }
}

footer
{
    height: 20vh;
    background-color: black;
    #fb
    {
        margin-top: 2px;
    }
    #fb-link
    {
        height: 20px;
        width: 20px;
    }

}
// end of custom styles