* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

figure {
  display: block;
  margin: 1em;
  padding: .7em;
}

figure figcaption {
  text-transform: uppercase;
}

.glider-contain {
  width: 85%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.glider-next {
  right: -50px;
  top: 50%;
}

.glider-prev {
  left: -40px;
  top: 50%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

h3 {
  font-weight: bolder;
  font-family: 'Odibee Sans', cursive;
}

nav {
  z-index: 2;
}

.navbar-collapse.collapse.in {
  display: inline-block;
}

small {
  color: white;
  font-family: 'Oswald', sans-serif;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: 1px solid black;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: black;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px;
  /* Some padding */
}

#myBtn :hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

#modal-theme {
  background: #b40513;
}

#site-logo {
  height: 60px;
  width: 60px;
}

.bg-custom {
  background-color: #b40513;
}

.btn-custom {
  background-color: #b40513;
  color: white;
}

.btn-custom :hover {
  background-color: white;
  border-color: #b40513;
}

.navbar-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

#nav-links {
  color: white;
}

#banner {
  background-image: url("../images/stock3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
  position: relative;
  height: 89vh;
}

#banner .layer {
  background-color: rgba(22, 19, 20, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#banner #rowrow {
  width: 100%;
  position: relative;
  text-align: center;
  height: 89vh;
}

#banner #banner-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner #banner-title {
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 7vmax;
}

#banner p {
  color: white;
  font-size: 35%;
}

#banner #butt-pos {
  color: white;
  position: absolute;
  top: 90%;
  left: 104%;
  -webkit-transform: translate(-90%, -104%);
          transform: translate(-90%, -104%);
}

#about {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23240104' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23480208' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236c030b' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2390040f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b40513' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#about #about-txt {
  text-align: center;
  color: white;
}

#about #about-txt-cont {
  background-color: #b40513;
  padding: 15px;
}

#about #aboutdesc-txt {
  color: white;
  font-weight: bolder;
  font-family: 'Odibee Sans', cursive;
}

#about #desc-txt {
  color: white;
  font-size: 17.5px;
}

#products {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: white;
  padding-bottom: 0.8%;
}

#products #products-txt-cont {
  background-color: #b40513;
  padding: 15px;
  z-index: 1;
}

#products #products-txt {
  color: white;
}

#products #row {
  padding-top: 5%;
  padding-bottom: 5%;
}

#products #below-slider {
  text-align: left;
}

#products #below-slider h3 {
  color: #b40513;
}

#products #below-slider h5 {
  text-align: left;
}

#contactus {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23240104' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23480208' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236c030b' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2390040f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b40513' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#contactus row {
  height: 85vh;
}

#contactus #contact-txt-cont {
  background-color: #b40513;
  padding: 15px;
}

#contactus #contact-txt {
  color: white;
}

#contactus #row {
  padding-top: 5.5%;
  padding-bottom: 6.5%;
}

#contactus #contact-cont {
  color: white;
  font-family: 'Odibee Sans', cursive;
}

#contactus hr {
  background-color: white;
}

footer {
  height: 20vh;
  background-color: black;
}

footer #fb {
  margin-top: 2px;
}

footer #fb-link {
  height: 20px;
  width: 20px;
}
/*# sourceMappingURL=style.css.map */